<!DOCTYPE html>
<html>
    <head> </head>

    <body>
        <h1>{{post.title}}</h1>
        <div class="row">
            <div class="col">
                <h3>{{post.title}}</h3>
                <img src="{{main.poster.url}}" class="w-100"/>
                <p>published at {{post.published_at}}</p>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'main:updat' post.id%}"> class="btn btn-primary"> updaate</a>
                    <a href="{% url 'main:updat' post.id%}"> class="btn btn-danger""> delete</a>

                </div>
                <p>{{post.content}}</p> 
                



            </div>



        </div>



    </body>


</html>